<%- include('../partials/file-header.ejs') %>
</head>
  <body class="container h-screen self-center p-4 overflow-x-hidden mx-auto ">
    <%- include('../partials/host-navbar') %>

    <section class="container flex flex-row h-5/6 gap-2  bg-white shadow-md  mt-2 md:p-2 rounded-md ">
      <div class="p-2 w-3/12 bg-red-300 flex flex-col ">
            <li class="list-none w-full  "><a href="/host/manage-passrates/all-pass-rates" class="text-xl font-semibold bg-red-400 text-red-950 rounded-lg block p-2">All Pass Rates</a></li>
            <li class="list-none w-full  "><a href="/host/manage-passrates/add-pass-rate" class="text-xl font-semibold text-red-950 block p-2">Add New Pass Rate</a></li>
        </div>
        
        <div class="bg-red-300 flex-grow overflow-y-auto">

          <h1 class="text-3xl font-bold text-center text-red-950 my-4">All Pass Rates</h1>
          
          <table class="bg-white w-2/3 rounded-md shadow-lg mx-auto">
            <tr class="">
                <th class="text-xl font-bold mb-4 text-blue-600">Travelling Points</th>
                <th class="text-xl font-bold mb-4 text-blue-600">Pass Rate</th>
                <th></th>
            </tr>

            <% passRateData.forEach(pass => { %>
              <tr class=" bg-white border-2 border-black ">
                <td class="p-2 text-center"> <%= pass.travellingPoints%> </td>
                <td class="p-2 text-center"> <%= pass.passrate %> </td>
                <td class=""><a href="/host/manage-passrates/edit-pass-rate/<%= pass._id %>?editing=true" class="bg-blue-400 py-0.5 px-2 rounded-md text-lg block md:w-2/3 text-center mx-auto">Edit</a></td>
              </tr>

            <% }); %>
          </table>

        </div>
    </section>
  </body>
</html>