<%- include('../partials/file-header.ejs') %>
</head>
  <body class="container h-screen self-center p-4 overflow-x-hidden mx-auto ">
    <%- include('../partials/host-navbar') %>

    <section class="container flex flex-row h-5/6 gap-2  bg-white shadow-md  mt-2 md:p-2 rounded-md ">
        <div class="p-2 w-3/12 bg-red-300 flex flex-col ">
            <li class="list-none w-full  "><a href="/host/manage-institutes/all-institutes" class="text-xl font-semibold bg-red-400 text-red-950 rounded-lg block p-2">All Institutes</a></li>
            <li class="list-none w-full  "><a href="/host/manage-institutes/add-institute" class="text-xl font-semibold text-red-950 block p-2">Add New Institute</a></li>
        </div>
        
        <div class="bg-red-300 flex-grow overflow-y-auto">

          <h1 class="text-3xl font-bold text-center text-red-950 my-4">All Institute</h1>
          
          <% institutesData.forEach(institute => { %>
            <div class="bg-white rounded-md w-2/3 mx-auto mb-3 p-3 shadow-lg flex flex-row justify-between items-center ">
              <div>
                <p class="text-lg text-blue-600">
                  <b>Name Of The Institute :</b><span class="font-medium text-black"> <%= institute.instituteName %></span>
                </p>

                <p class="text-lg text-blue-600">
                  <b>Registered Email ID :</b> <span class="font-medium text-black"> <%= institute.instituteEmailId %></span>
                </p>
              </div>   
              
              <div>
                <a href="/host/manage-institutes/edit-institute/<%= institute._id %>" class="bg-blue-600 hover:bg-blue-400 text-lg font-semibold p-4 rounded-md">Edit Info</a>
              </div>
              
            </div>

          <% }); %>
    </section>
  </body>
</html>